* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gallery {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.lightbox-image {
    max-width: 90%;
    max-height: 90%;
}


